.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
  border-radius: 8px;
}